@font-face {
  font-family: 'GW2Font';
  src: url('./components/GW2Font.ttf') format('truetype');
}

body {
  background-color: #35363a;
  color: #ffffff;
  margin: 0;
}

.content {
  margin-top: 3em;
}

.center-class {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202124;
}

.center-items {
  text-align: center;
}

.apis-flex {
  flex-direction: column;
  align-items: center;
}

.spec-icon {
  height: 25px;
}

.center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

/* Nav */

.app-nav {
  background-color: #202124;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
  padding-top: 15px;
  padding-bottom: 10px;
}

.app-nav,
.nav-login-register,
.nav-profile-logout {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
}

.nav-center {
  margin-left: -70px;
}

.nav-a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

/* Login & Register */

label {
  display: block;
  margin-top: 10px;
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* Search Bar */

.search-container {
  display: flex;
  justify-content: center;
}

.search-input {
  width: 16em;
  background-color: #202124;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  font-size: 1.5em;
}

.search-input::placeholder {
  color: rgb(163, 163, 163);
  font-size: 0.9em;
  /* Change the color to your desired color */
}

/* Logo */

.logo-div {
  position: relative;
  width: 53px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.logo-dragon {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 40px;
  height: 40px;
  filter: drop-shadow(4px 2px 0px rgba(0, 0, 0, 1));
}

.logo-cog {
  position: absolute;
  top: -26%;
  left: 4%;
  transform: translate(-50%, -50%) rotate(0deg);
  z-index: 1;
  width: 50px;
  height: 50px;
  animation: spin 50s linear infinite;
  animation-iteration-count: infinite;
}

.form-control {
  background-color: #202124;
  color: #d9d9d9;
  border: none;
  padding: 5px 10px;
  font-size: 0.94em;
  margin: 3px;
}

input:-webkit-autofill,
input:focus:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px #202124 inset;
  -webkit-text-fill-color: #d9d9d9;
}

.basic-button {
  cursor: pointer;
  background-color: #202124;
  color: #d9d9d9;
  border: none;
  margin: 10px;
  padding: 5px 10px;
  font-size: 1em;
}

.disabled-button:disabled {
  cursor:default;
  background-color: #202124;
  color: #757575;
  border: none;
  margin: 10px;
  padding: 5px 10px;
  font-size: 1em;
}

.delete-button {
  cursor: pointer;
  background-color: #aa0404;
  color: #d9d9d9;
  border: none;
  margin: 10px;
  padding: 5px 10px;
  font-size: 1em;
}

.cancel-button {
  cursor: pointer;
  background-color: #FFCC00;
  color: #202124;
  border: none;
  margin: 10px;
  padding: 5px 10px;
  font-size: 1em;
}

/* Loading Logo */

.logo-loading-div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo--loading-dragon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 120px;
  height: 120px;
  filter: drop-shadow(4px 2px 0px rgba(0, 0, 0, 1));
}

.logo-loading-cog {
  position: absolute;
  top: -74px;
  right: -77px;
  transform: translate(-50%, -50%) rotate(0deg);
  z-index: 1;
  width: 150px;
  height: 150px;
  animation: spin 50s linear infinite;
  animation-iteration-count: infinite;
}

.gw2-logo-style {
  font-family: 'GW2Font';
  font-size: 25px;
  color: #aa0404;
}

.geary-logo-style {
  font-family: 'GW2Font';
  font-size: 25px;
}
