body {
  background-color: #35363a;
  color: #ffffff;
}

.home-account {
  text-align: center;
}

.home-characters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.home-character {
  min-width: 8%;
  text-align: center;
}

.home-character-link {
  color: #ffffff;
  text-decoration: none;
}

.center-class {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-items {
  text-align: center;
}

.home-box {
  border: 2px #ffffff solid;
  margin: 5%;
}

.spec-icon {
  height: 25px;
}