.equipment {
    min-width: 280px;
    max-width: 484px;
    width: 100%;
    height: 652px;
    padding: 20px 0;
    background-color: #202124;
    margin: 1%;
}

.equipment-box {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.item-box {
    display: flex;
    margin: 3px;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
}

.equipment-col-1 {
    margin-left: 0;
    margin-right: 160px;
}

.item-popup {
    background-color: #000000e0;
    padding: 10px;
    white-space: nowrap;
    font-size: smaller;
    max-width: 300px;
    width: 80%;
    white-space: pre-wrap;
    text-align: left;
}

.item-name {
    font-size: medium;
    font-weight: 500;
}

.attribute {
    padding: 2px 20px 2px 0;
}

.attribute-popup {
    background-color: #000000e0;
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 100px;
    font-size: small;
    text-align: center;
}

.attribute-popup img {
    width: 20px;
    height: 20px;
}

.equip-tooltip {
    background-color: #000000e0;
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: small;
    text-align: center;
}

.itemstats {
    position: absolute;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    background: #202124;
    width: 441px;
    text-align: left;
}

.itemstat {
    margin-top:10px;
}

.italic {
    font-style: italic;
}

.green {
    color: #32e532;
}

.upgrade-blue {
    color: #5192f2;
}

.upgrade-gray {
    color: #a0a0a0;
}

.box-gray {
    border: 3px solid gray;
}

.name-unknown {
    color: #f30606;
}

.box-unknown {
    border: 3px solid #f30606;
}

.border-unknown {
    border: 1.5px solid rgb(243, 6, 6);
    box-shadow: 0 0 10px 2px rgba(192, 4, 4, 0.5);
}


.name-basic {
    color: #ffffff;
}

.box-basic {
    border: 3px solid #ffffff;
}

.border-basic {
    border: 1.5px solid rgb(255, 255, 255);
    box-shadow: 0 0 10px 2px rgba(204, 204, 204, 0.5);
}

.name-fine {
    color: #62a4e1;
}

.box-fine {
    border: 3px solid #62a4e1;
}

.border-fine {
    border: 1.5px solid rgb(98, 164, 225);
    box-shadow: 0 0 10px 2px rgba(75, 126, 174, 0.5);
}

.name-masterwork {
    color: #1a9306;
}


.box-masterwork {
    border: 3px solid #1a9306;
}

.border-masterwork {
    border: 1.5px solid rgb(26, 147, 6);
    box-shadow: 0 0 10px 2px rgba(16, 95, 3, 0.5);
}

.name-rare {
    color: #fcd00b;
}

.box-rare {
    border: 3px solid #fcd00b;
}

.border-rare {
    border: 1.5px solid rgb(252, 208, 11);
    box-shadow: 0 0 10px 2px rgba(201, 165, 8, 0.5);
}

.name-exotic {
    color: #ffa405;
}

.box-exotic {
    border: 3px solid #ffa405;
}

.border-exotic {
    border: 1.5px solid rgb(255, 164, 5);
    box-shadow: 0 0 10px 2px rgba(204, 131, 4, 0.5);
}

.name-ascended {
    color: #fb3e8d;
}

.box-ascended {
    border: 3px solid #fb3e8d;
}

.border-ascended {
    border: 1.5px solid rgb(251, 62, 141);
    box-shadow: 0 0 10px 2px rgba(199, 49, 112, 0.5);
}


.name-legendary {
    color: #5d17cf;
}

.box-legendary {
    border: 3px solid #5d17cf;
}

.border-legendary {
    border: 1.5px solid rgb(93, 23, 207);
    box-shadow: 0 0 10px 2px rgba(76, 19, 169, 0.5);
}