.equipment-box {
    display: flex;
    margin: 1% 0% 0% 12%;
    justify-content: space-evenly;
}

.item-box {
    display: flex;
    margin: 3px;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
}

.item-popup {
    background-color: #000000e0;
    padding: 10px;
    white-space: nowrap;
    font-size: smaller;
    max-width: 300px;
    width: 80%;
    white-space: pre-wrap;
    text-align: left;
}

.item-name {
    font-size: medium;
    font-weight: 500;
}

.attribute {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.attribute:hover:before {
    content: attr(title);
    position: absolute;
    background-color: #191919;
    color: white;
    padding: 5px;
}

.attribute img {
    width: 20px;
}

.green {
    color: #32e532;
}

.upgrade-blue {
    color: #5192f2;
}

.upgrade-gray {
    color: #a0a0a0;
}

.box-gray {
    border: 3px solid gray;
}

.box-basic {
    border: 3px solid #ffffff;
}

.box-fine {
    border: 3px solid #5fbdff;
}

.box-masterwork {
    border: 3px solid #32e532;
}

.box-rare {
    border: 3px solid #d5b737;
}

.box-exotic {
    border: 3px solid #d87e00;
}

.box-ascended {
    border: 3px solid #ff61b4;
}

.box-legendary {
    border: 3px solid #ce45da;
}

.name-basic {
    color: #ffffff;
}

.name-fine {
    color: #5fbdff;
}

.name-masterwork {
    color: #32e532;
}

.name-rare {
    color: #d5b737;
}

.name-exotic {
    color: #d87e00;
}

.name-ascended {
    color: #ff61b4;
}

.name-legendary {
    color: #ce45da;
}