.equipment {
    min-width: 280px;
    max-width: 484px;
    height: 652px;
    padding: 20px 30px;
    background-color: #202124;
    margin: 1%;
}

.equipment-box {
    display: flex;
    margin-top: 35px;
}

.item-box {
    display: flex;
    margin: 3px;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
}

.equipment-col-1 {
    margin-left: 0;
    margin-right: 185px;
}

.item-popup {
    background-color: #000000e0;
    padding: 10px;
    white-space: nowrap;
    font-size: smaller;
    max-width: 300px;
    width: 80%;
    white-space: pre-wrap;
    text-align: left;
}

.item-name {
    font-size: medium;
    font-weight: 500;
}

.attribute {
    padding: 2px 20px 2px 0;
}

.attribute-popup {
    background-color: #000000e0;
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 100px;
    font-size: small;
    text-align: center;
}

.attribute-popup img {
    width: 20px;
    height: 20px;
}

.equip-tooltip {
    background-color: #000000e0;
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: small;
    text-align: center;
}

.italic {
    font-style: italic;
}

.green {
    color: #32e532;
}

.upgrade-blue {
    color: #5192f2;
}

.upgrade-gray {
    color: #a0a0a0;
}

.box-gray {
    border: 3px solid gray;
}

.name-unknown {
    color: #f30606;
}

.box-unknown {
    border: 3px solid #f30606;
}

.border-unknown {
    border: 1.5px solid rgb(243, 6, 6);
    box-shadow: 0 0 10px 2px rgba(192, 4, 4, 0.5);
}


.name-basic {
    color: #ffffff;
}

.box-basic {
    border: 3px solid #ffffff;
}

.border-basic {
    border: 1.5px solid rgb(255, 255, 255);
    box-shadow: 0 0 10px 2px rgba(204, 204, 204, 0.5);
}

.name-fine {
    color: #5fbdff;
}

.box-fine {
    border: 3px solid #5fbdff;
}

.border-fine {
    border: 1.5px solid rgb(95, 189, 255);
    box-shadow: 0 0 10px 2px rgba(76, 151, 204, 0.5);
}

.name-masterwork {
    color: #32e532;
}


.box-masterwork {
    border: 3px solid #32e532;
}

.border-masterwork {
    border: 1.5px solid rgb(50, 229, 50);
    box-shadow: 0 0 10px 2px rgba(38, 178, 38, 0.5);
}

.name-rare {
    color: #d5b737;
}

.box-rare {
    border: 3px solid #d5b737;
}

.border-rare {
    border: 1.5px solid rgb(213, 183, 55);
    box-shadow: 0 0 10px 2px rgba(162, 139, 41, 0.5);
}

.name-exotic {
    color: #d87e00;
}

.box-exotic {
    border: 3px solid #d87e00;
}

.border-exotic {
    border: 1.5px solid rgb(216, 126, 0);
    box-shadow: 0 0 10px 2px rgba(164, 96, 0, 0.5);
}

.name-ascended {
    color: #ff61b4;
}

.box-ascended {
    border: 3px solid #ff61b4;
}

.border-ascended {
    border: 1.5px solid rgb(255, 97, 180);
    box-shadow: 0 0 10px 2px rgba(204, 77, 143, 0.5);
}


.name-legendary {
    color: #ce45da;
}

.box-legendary {
    border: 3px solid #ce45da;
}

.border-legendary {
    border: 1.5px solid rgb(206, 69, 218);
    box-shadow: 0 0 10px 2px rgba(157, 52, 166, 0.5);
}