.item-box {
    display: flex;
    margin: 3px;
    border: 3px solid purple;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
}
.item-popup {
    background-color: black;
    padding: 4%;
}

.green {
    color: #32e532;
}