.characters-boxes {
    cursor: pointer;
    width: 20%;
}

.accounts-link {
    text-decoration: none;
}

.accounts-box {
    border: 1.5px solid rgb(255, 255, 255);
    box-shadow: 0 0 7px 2px rgba(204, 204, 204, 0.5);
    margin: 3%;
    color: white;
}

.accounts-name {
    margin-block-start: 0em;
    margin-block-end: 0em;
    height: 69px;
    text-align: center;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: break-all;
    padding-right: 10px;
}

.column {
    display: flex;
    flex-direction: column;
}

.accounts-flex {
    display: flex;
    justify-content: space-around;
}

.accounts-col {
    align-items: center
}

.accounts-h6 {
    margin-block-start: 0;
}

.white-info {
    filter: invert(99%) sepia(100%) saturate(2%) hue-rotate(178deg) brightness(106%) contrast(100%);
}

.account-popup {
    background-color: #000000e0;
    padding: 10px;
    white-space: nowrap;
    font-size: smaller;
    white-space: pre-wrap;
    text-align: left;
    max-width: 200px;
}