.equipment-build-flex {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.equipment {
  width: 50%;
}

.build {
  width: 50%;
}

.equipment-block {
  display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f1f1f1;
  min-width: 160px;
  padding: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu li:hover {
  background-color: #ddd;
}

.go-back-button {
  position: fixed;
  top: 10%;
  transform: translateY(-50%);
  left: 16%;
  color: white;
  text-decoration: none;
  font-size: large;
  padding: 2px;
  border: 2px solid white;
  border-radius: 10px;
}