.dropdown {
    margin: 0 45%;
    text-align: center;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dropdown-item {
    color: #ffffff;
    text-decoration: none;
}