.engineer-text {
  color: #98692c;
}

.engineer-border {
  background-color: #98692c;
}

.engineer-border:hover {
  transition: background-color 0.3s ease-out;
  background-color: #65451d;
}

.engineer-lightning-border {
  border: 1.5px solid rgb(152, 105, 44);
  box-shadow: 0 0 10px 2px rgba(152, 105, 44, 0.5);
}

.necromancer-text {
  color: #3f5847;
}

.necromancer-border {
  background-color: #3f5847;
}

.necromancer-border:hover {
  transition: background-color 0.3s ease-out;
  background-color: #1a241d;
}

.necromancer-lightning-border {
  border: 1.5px solid rgb(63, 88, 71);
  box-shadow: 0 0 10px 2px rgba(26, 36, 29, 0.5);
}

.thief-text {
  color: #495578;
}

.thief-border {
  background-color: #495578;
}

.thief-border:hover {
  transition: background-color 0.3s ease-out;
  background-color: #293045;
}

.thief-lightning-border {
  border: 1.5px solid rgb(73, 85, 120);
  box-shadow: 0 0 10px 2px rgba(41, 48, 69, 0.5);
}

.elementalist-text {
  color: #a3362e;
}

.elementalist-border {
  background-color: #a3362e;
}

.elementalist-border:hover {
  transition: background-color 0.3s ease-out;
  background-color: #6f251f;
}

.elementalist-lightning-border {
  border: 1.5px solid rgb(163, 54, 46);
  box-shadow: 0 0 10px 2px rgba(111, 37, 31, 0.5);
}

.warrior-text {
  color: #bc8d16;
}

.warrior-border {
  background-color: #bc8d16;
}

.warrior-border:hover {
  transition: background-color 0.3s ease-out;
  background-color: #896610;
}

.warrior-lightning-border {
  border: 1.5px solid rgb(188, 141, 22);
  box-shadow: 0 0 10px 2px rgba(137, 102, 16, 0.5);
}

.ranger-text {
  color: #8ea53a;
}

.ranger-border {
  background-color: #8ea53a;
}

.ranger-border:hover {
  transition: background-color 0.3s ease-out;
  background-color: #627228;
}

.ranger-lightning-border {
  border: 1.5px solid rgb(142, 165, 58);
  box-shadow: 0 0 10px 2px rgba(98, 114, 40, 0.5);
}


.mesmer-text {
  color: #724192;
}

.mesmer-border {
  background-color: #724192;
}

.mesmer-border:hover {
  transition: background-color 0.3s ease-out;
  background-color: #4a2a5e;
}

.mesmer-lightning-border {
  border: 1.5px solid rgb(114, 65, 146);
  box-shadow: 0 0 10px 2px rgba(74, 42, 94, 0.5);
}

.guardian-text {
  color: #67aecb;
}

.guardian-border {
  background-color: #67aecb;
}

.guardian-border:hover {
  transition: background-color 0.3s ease-out;
  background-color: #4d8297;
}

.guardian-lightning-border {
  border: 1.5px solid rgb(103, 174, 203);
  box-shadow: 0 0 10px 2px rgba(77, 130, 151, 0.5);
}

.revenant-text {
  color: #572435;
}

.revenant-border {
  background-color: #572435;
}

.revenant-border:hover {
  transition: background-color 0.3s ease-out;
  background-color: #240e15;
}

.revenant-lightning-border {
  border: 1.5px solid rgb(87, 36, 53);
  box-shadow: 0 0 10px 2px rgba(36, 14, 21, 0.5);
}