.characters-boxes {
    cursor: pointer;
    min-width: 228px;
    max-width: 228px;
}

.accounts-link {
    text-decoration: none;
}

.accounts-box {
    border: 1.5px solid rgb(255, 255, 255);
    box-shadow: 0 0 7px 2px rgba(152, 152, 152, 0.3);
    margin: 3%;
    color: white;
}

.accounts-hover:hover {
    box-shadow: 0 0 7px 2px rgba(204, 204, 204, 0.5);
    background-color: #35363a;
}

.accounts-name {
    margin-block-start: 0em;
    margin-block-end: 0em;
    height: 50px;
    text-align: center;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: break-all;
}

.column {
    display: flex;
    flex-direction: column;
}

.accounts-flex {
    display: flex;
    justify-content: space-around;
}

.accounts-col {
    align-items: center
}

.accounts-h6 {
    margin-block-start: 0;
}

.white-info {
    filter: invert(99%) sepia(100%) saturate(2%) hue-rotate(178deg) brightness(106%) contrast(100%);
}

.account-popup {
    background-color: #000000e0;
    padding: 10px;
    white-space: nowrap;
    font-size: smaller;
    white-space: pre-wrap;
    text-align: left;
    max-width: 170px;
}

.home-empty-search-box {
    margin-top: 1em;
    padding: 1em 0;
    background-color: #202124;
    box-shadow: 0 0 7px 2px rgba(204, 204, 204, 0.3);
    color: #d3d3d3;
    width: 44em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 1.2em;
}

/* Pagination */
.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom:20px;
}

.pagination-item {
    margin: 0 5px;
    cursor: pointer;
    border: 1.5px solid white;
    color: white;
    background-color: #202124;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: medium;
}

.pagination-item:hover {
    background-color: #aa0404;
    box-shadow: 0 0 7px 2px rgba(204, 204, 204, 0.3);
}

.pagination-item:disabled {
    background-color: #35363a;
    cursor: default;
    opacity: 0.6;
    pointer-events: none;
}

.pagination-item.active {
    background-color: #aa0404;
    color: white;
}